h1 {
margin-bottom: 50px !important;
color: rgb(41, 87, 49);
font-size: 700%;
font-weight: 200;
}

body{
    background-image: url(../images/background3.jpeg);  
    background-size: cover;
    background-repeat: no-repeat;
    padding : 50px;
}

.instructions {
    /* color: rgb(41, 87, 49); */
    font-size: 130%;
}



#wins, #losses {
    color: whitesmoke;
    font-size: 150%;
    background-color: rgb(41, 87, 49);
    opacity: .7;
}


#randomNumber, #score {
    color: black;
    font-family: fantasy;
    font-size: 200%;
}

#gem2 {
    width: 200px;
    padding: 5px;
    margin: 30px;
}